/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background-color: rgb(28, 46, 74);
}
.circle-container {
		margin-top: 15%;
	transform: scale(0.6);
}
.circle {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 30px solid white;
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.square {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 3px;
  position: relative;
}

.squareOne {
  background-color: white;
  left: 35px;
  bottom: 48px;
}
.squareTwo {
  background-color: white;
  left: 94px;
  bottom: 54px;
  transform: rotate(-40deg);
}
.squareThree {
  background-color: white;
  bottom: 83px;
  right: 26px;
  transform: rotate(40deg);
}
.squareFour {
  background-color: white;
  bottom: 56px;
  left: 116px;
}
.squareFive {
  background-color: white;
  bottom: 86px;
  right: 48px;
}
.squareSix {
  background-color: white;
  bottom: 62px;
  left: 98px;
  transform: rotate(132deg);
}
.squareSeven {
  background-color: white;
  bottom: 88px;
  right: 26px;
  transform: rotate(-132deg);
}
.squareEight {
  background-color: white;
  bottom: 94px;
  left: 37px;
}
h1 {
	text-align: center;
	color: white;
	font-size: 70px;
}
button {
	display: block;
	margin: auto;
	margin-top: 3%;
	font-size: 30px;
	color: rgb(28, 46, 74);
	background-color: white;
	border-radius: 5%;
	padding: 1%;
	cursor: pointer;
	outline: 0;
}
button:hover {
	background-color: rgb(28, 46, 104);
	color: white;
}
