<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/create.css">

<h1>Choose A Graph: </h1>

<div class="graphOptions">
  <div class="option line">Line</div>
  <div class="option bar">Bar</div>
  <div class="option pie">Pie</div>
  <div class="option scatter">Scatter</div>
</div>

<a href="/dashboard" class="btn back">Back to Dashboard</a>
