<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/dashboard.css">

<h1 class="name"><%= user.name %></h1>
<a href="/users/logout" class="btn">Logout</a>
<br>


<h3>Your Graphs:</h3>

<ul>
  <li class="newGraph">
    <p>Create a New Graph</p>
    <a href="/create" class="btn-floating btn-large waves-effect waves-light plus"><i class="material-icons">add</i></a>
  </li>
    <% for (let i = 0; i < profile.length; i++ ) { %>
      <% if (profile[i].name == user.name) { %>
        <% profile[i].graphs.forEach( (each) => { %>
          <li class="newGraph">
            <a href="#">
              <%= each.graphName %>
            </a>
          </li>
        <% }) %>
      <% } %>
    <% } %>
</ul>





<script src="/js/dashboard.js" charset="utf-8"></script>
