<link rel="stylesheet" href="css/gear.css">
<link rel="stylesheet" href="css/welcome.css">

<nav>
  <div class="circle-container">
    <div class="circle">
      <div class="square squareOne"></div>
      <div class="square squareTwo"></div>
      <div class="square squareThree"></div>
      <div class="square squareFour"></div>
      <div class="square squareFive"></div>
      <div class="square squareSix"></div>
      <div class="square squareSeven"></div>
      <div class="square squareEight"></div>
    </div>
  </div>
  <a href="/"><h1>GraphiT</h1></a>
  <a href="/users/login" class="waves-effect waves-light btn-large login">Login</a>
</nav>

<div class="title">
  <h2>GraphiT</h2>
  <h3>Making beautiful graphs is now faster and easier</h3>
  <a class="register waves-effect waves-light btn-large" href="/users/register">Get Started</a>
</div>
