.circle {
	transform: scale(0.4);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 25px solid #4db6ac;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  100% {
    transform:  scale(0.4) rotate(360deg);
  }
}
.square {
  height: 30px;
  width: 30px;
  background-color: #4db6ac;
  border-radius: 3px;
  position: relative;
}

.squareOne {
  background-color: #4db6ac;
  left: 35px;
  bottom: 48px;
}
.squareTwo {
  background-color: #4db6ac;
  left: 94px;
  bottom: 54px;
  transform: rotate(-40deg);
}
.squareThree {
  background-color: #4db6ac;
  bottom: 83px;
  right: 26px;
  transform: rotate(40deg);
}
.squareFour {
  background-color: #4db6ac;
  bottom: 56px;
  left: 116px;
}
.squareFive {
  background-color: #4db6ac;
  bottom: 86px;
  right: 48px;
}
.squareSix {
  background-color: #4db6ac;
  bottom: 62px;
  left: 98px;
  transform: rotate(132deg);
}
.squareSeven {
  background-color: #4db6ac;
  bottom: 88px;
  right: 26px;
  transform: rotate(-132deg);
}
.squareEight {
  background-color: #4db6ac;
  bottom: 94px;
  left: 37px;
}
